.all{    
    /* background-color: red; */
    width: 100%;
    /* height: 1200px; */
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
}

/* TODO: border; */
.menu{
    background-color: darkviolet;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    /* flex:wrap; */
}

.menu-blocks{
    display: inline-block;
}

.search-input{
    /* height:70%; */
    margin-left: calc(100% - 10%);
    width: 100%;
}

.nav-icons{
    background-color: blue;
    height:40px;
    width: 240px;
    display:flex;
    margin: 0 auto;
    justify-content: space-between;
}

.nav-icon{
    background-color: yellowgreen;
    height:40px;
    width: 40px;
    /* height:80%; */
}


.stories{
    background-color: red;
    height: 115px;
    margin-top: 30px;
    margin-right: 41%;
    width: calc(100% - 41% - 6%);
    margin-left: auto;
}

.feed-area{
    background-color: darkkhaki;
    width:50%;
    /* height:1200px; */
    flex-grow: 2;
}

.side-bar{
    background-color: green;
    width:41%;
    left: calc(100% - 41%);
    height:1200px;
    position:fixed;
    top: 50px;
}

.posts{
    background-color: orange;
    width: calc(100% - 42% - 6%);
    margin-left: auto;
    margin-right: 42%;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post{
    background-color: blue;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    height: calc(120vh - 30px);
    width: 100%;
    display: flex;
    flex-direction: column;
}


.head-post{
    background-color: grey;
    height:calc(100vh - 30px - 5px - 85vh);
    width: 100%;
    margin: 0;
}

.photo-area{
    background-color: black;
    width: 100%;
    padding-top: 100%;
}

.comment-area{
    background-color: cyan;
    flex-grow:1;
    width: 100%;
    display: flex;
    flex-flow: column;
}

 /* icons + likes */
.head-reactions{
    background-color: white;
    height: calc(100vh - 90vh);
    width: 100%;
}

.comment-made{
    background-color: lightpink;
    width: 100%;
    flex-grow:3;
    margin-bottom: 5px;
    /* border:1px red; */
    border-bottom: 1px solid #FF6461;
}

.comment-make{
    background-color: violet;
    width: 100%;
    flex-grow:1;
    display: flex;
    margin-bottom: 5px;
    border-bottom: 1px solid red;
}

.comment-input{
    width: 90%;
}

.comment-emoji{
    width: 10%;
}
